* {
  font-size: 62.5%;
}

.header {
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  color: crimson;
  font-size: 2rem;
}

.showcase {
  font-size: 3rem;
  height: 330px;
  background-image: url('../Assets/Pizza.jpg');
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}

.showcase h2 {
  color: rgb(239, 239, 239);
  text-shadow: 2px 2px 4px black;
  font-size: 4rem;  
}
.showcase button {
  color: azure;
  width: 200px;
  background-color: rgb(226, 17, 2);
  box-shadow: 2px 2px 4px black;;
  padding: 10px;
  /* border: solid 1px rgb(88, 0, 0); */
  border-style: none;
  border-radius: 20px;
}
